include LICENSES
include README.rst
global-exclude *.orig *.pyc *.log *.swp

recursive-include ckeditor_link/templates *
recursive-include ckeditor_link/static *
recursive-include ckeditor_link/locale *
