# for consistent migrations, use oldest django possible
django<3

# not required by setup.py..
tox
coverage
django-coverage<1.2
flake8
factory_boy
mock
selenium

django-ckeditor==5.6.0

# template tag
lxml
cssselect

# link model.
# dont create migrations that will fail for others, because users use older versions than you when creating the migrations!
django-cms<3.8.0
django-filer>1.6.0
